---
import "../styles/global.css";
import Card from "../components/Card.astro";
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import { getPosts } from "../utils/sanity";
import Hero from "../components/Hero.astro";
import { getCompanies } from "../utils/sanity";
import CompanyCard from "../components/CompanyCard.astro";
import CompanySection from "../components/CompanySection.astro";
// import Companies from "../components/Companies.astro";

const posts = await getPosts();
const companies = await getCompanies();
---

<Layout title="Velkommen til hyggelig handel i Havnegata - Nisjebutikker i Namsos sentrum">
  <Hero />
  <!-- <Companies /> -->
  <section class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 p-6">
    {companies.map(company => (
      <CompanyCard 
        name={company.name}
        tagline={company.tagline}
        image={company.featuredImage}
        bgColor={company.bgColor}
        textColor={company.textColor}
        shadowColor={company.shadowColor}
      />
    ))}
  </section>
  <section>
    {companies.map(company => (
      <CompanySection 
        name={company.name}
        tagline={company.tagline}
        bgImage={company.featuredImage}
        bgColor={company.bgColor}
        textColor={company.textColor}
        shadowColor={company.shadowColor}
      />
    ))}
  </section>
  <section>
    {companies.length ? companies.map((company) => (
      <div>
        <h2>{company.name}</h2>
      </div>
    )) : <Welcome />}
  </section>
  <section>
    {posts.length ? posts.map((post) => <Card post={post} />) : <Welcome />}
  </section>
  <section>
    
  </section>  
</Layout>
