---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import { getCompanies } from "../utils/sanity";
import { getCachedAllTilbud } from "../utils/offerCache";
import CompanyCard from "../components/CompanyCard.astro";
import CompanySection from "../components/CompanySection.astro";
import OfferSlider from "../components/OfferSlider";
import VideoHero from "../components/VideoHero.astro";

const companies = await getCompanies();
const allTilbud = await getCachedAllTilbud();

---

<Layout 
  title="Velkommen til hyggelig handel i Havnegata - Nisjebutikker i Namsos sentrum"
  ogTitle="Havnegata - Hyggelig handel i Namsos sentrum"
  ogDescription="Opplev nisjebutikker og hyggelig handel i Havnegata, hjertet av Namsos. Finn unike produkter og opplevelser i våre lokale butikker."
  ogUrl=""
  ogImage="hero-image.jpg"
  ogLocale="nb_NO"
>
  <!-- <Hero /> -->
  <VideoHero />
  <!-- Show all tilbud -->
  <section class="bg-gradient-to-b from-[#FAF7F2] to-white py-12">
    <OfferSlider tilbud={allTilbud} companyName="butikker i Havnegata" client:load />
  </section>
  <!-- <Companies /> -->
  <section class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 p-6">
    {companies.map(company => (
      <CompanyCard 
        name={company.name}
        tagline={company.tagline}
        image={company.featuredImage}
        bgColor={company.bgColor}
        textColor={company.textColor}
        shadowColor={company.shadowColor}
        slug={company.slug.current}
      />
    ))}
  </section>
  <section>
    {companies.map(company => (
    <CompanySection 
        name={company.name}
        slug={company.slug.current}
        tagline={company.tagline}
        bgImage={company.featuredImage}
        bgColor={company.bgColor}
        textColor={company.textColor}
        shadowColor={company.shadowColor}
        body={company.body}
        links={company.links}
        showOpenInNewTab={true}
      />
    ))}
  </section>
  <section>
    <!-- {posts.length ? posts.map((post) => <Card post={post} />) : <Welcome />} -->
  </section>
  <section>
    
  </section>  
</Layout>
